<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
	<mapper namespace="com.solfood.mapper.buyMapper">
		<!-- =============================== SELECT ======================================https://s.pstatic.net/static/www/mobile/edit/2017/0324/mobile_184353754426.gif=== -->		
		<!-- BUY 테이블 데이터 모두 보기_ 구매한 직후(cart에서 list 사라지기 전) -->
		<select id="selectBuy" parameterType="String" resultType="com.solfood.dto.TotalVO">
			SELECT B.BUY_ID, B.BUY_DATE, B.PRODUCT_ID, B.BUY_COUNT, B.BUY_DELIVERY, P.PRODUCT_PRICE, P.PRODUCT_IMAGE, P.PRODUCT_NAME 
			FROM BUY B, PRODUCT P 
			WHERE B.PRODUCT_ID= P.PRODUCT_ID AND B.ACCOUNT_USER= #{account_user};
		</select>
		
		
		<!-- BUY한 사람의 정보 불러오기// PAY에서 사용함 -->
		<select id="selectBuyInfo" parameterType="String" resultType="com.solfood.dto.TotalVO">
			SELECT B.BUY_ID, B.BUY_COUNT, A.ACCOUNT_NAME, A.ACCOUNT_TEL, A.ACCOUNT_ADDRESS, A.ACCOUNT_EMAIL, A.ACCOUNT_USER 
			FROM ACCOUNT A, PRODUCT P, BUY B 
			WHERE B.PRODUCT_ID= P.PRODUCT_ID AND A.ACCOUNT_USER= B.ACCOUNT_USER AND A.ACCOUNT_USER= #{account_user};
		</select>
		
		<!-- =============================== INSERT ========================================= -->
		<!-- cart에서 buy테이블로 상품 넣기 -->
		<insert id="insertBuy" parameterType="com.solfood.dto.TotalVO">
			INSERT INTO BUY(BUY_DATE, BUY_COUNT, ACCOUNT_USER, PRODUCT_ID) VALUES(current_date(), #{buy_count}, #{account_user}, #{product_id}) 
		</insert>
	</mapper>
	
	
	
	
	
	